extends layout

block content
	h1= title

	p
		a(class="button" href="/books/new") Create New Book

	if showHomeButton
		p
			a(class="button" href="/") Home

	form(method="get" action="/search")
		input(name="s" type="text" placeholder="Search title, author, genre or year" required)

		input(type="submit" value="Search")

	if rows.length > 0 && pages.current > 0
		table
			thead
				tr
					th Title

					th Author

					th Genre

					th Year

			tbody
				each book in rows
					tr
						td
							a(href=`/books/${book.id}`)= book.title

						td= book.author

						td= book.genre

						td= book.year

		if pages.previous
			p
				a(class="button" href= pages.previous) Previous page

		if pages.next
			p
				a(class="button" href= pages.next) Next page
	else
		h2 Sorry! We couldn't find any books you were looking for.

		p
			a(class="button" href="/books") Home