extends layout

block content
	h1= title

	p
		a(class="button" href="/books/new") Create New Book

	if button
		p
			a(class="button" href="/")= button

	form(method="post" action="/search")
		input(name="search" type="text" placeholder="Search title, author, genre or year" required)

		input(type="submit" value="Search")

	if books.length > 0
		table
			thead
				tr
					th Title

					th Author

					th Genre

					th Year

			tbody
				each book in books
					tr
						td
							a(href=`/books/${book.id}`)= book.title

						td= book.author

						td= book.genre

						td= book.year
	else
		h2 Sorry! We couldn't find any books you were looking for.